
form{
    /*Borda*/
    border: 1px solid #ccc;
    max-width: 600px; /*tamanho máximo da borda*/
    /*Espaçamento externo*/
    margin: 0 auto; /*1º valor: vertical, 2º valor: horizontal*/
    /*Espaçamento interno*/
    padding: 20px;
    /*Arredondamento da borda*/
    border-radius: 8px;
    /*Sombra da borda*/
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.253);
}

form{
    max-width: 600px;
    margin: 0 auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.438);
}

body{
    font-family:'Winky Rough', sans-serif;
    background-image: url(fundo.jpg);
    color: #123553;
}

input:not([type="checkbox"]):not([type="radio"]){
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #173264;
    font-family:'Winky Rough', sans-serif;
}

textarea{
    font-family:'Winky Rough', sans-serif;
}

select{
    font-family:'Winky Rough', sans-serif;
}

.titulo {
    color: #173264;
    font-size: 25px;
    font-weight: bold;
}

#teste {
    color: black;
    font-size: 20px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.button-container{
    
    cursor: pointer;
    outline: 0;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    background-color: transparent;
    border: 0px solid transparent;
    padding: 6px 12px;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #204377;
    border-color: #204377;
    :hover {
        color: #fff;
        background-color: #204377;
        border-color: #204377;
    }
}

